@{
    ViewBag.Title = "Home Page";
}

<div >
    <div class="text-center">
        <select ng-model="result.HttpMethod">
            <option ng-repeat="x in methods">{{x}}</option>
        </select>
        <select ng-model="result.URL">
            <option ng-repeat="u in urls">{{u}}</option>
        </select>
        
        <button ng-click="fetchFunction()">Fetch</button>
    </div>
    <div>
        <h4><b>Response Status Code:</b> {{result.StatusCode}}</h4>
        <h4><b>URL:</b> {{result.URL}}</h4>
        <h4><b>Http Method:</b> {{result.HttpMethod}}</h4>
        <h4><b>Response Time:</b> {{result.ResponseTime}} seconds</h4>
    </div>
    <button ng-click="PostFunction()">Store</button>
    <button ng-click="GetFunction()">Show List</button>

    <br /><br />

    <div>
        <h4 class="text-center">Response Data List</h4>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>URL</th>
                        <th>Http Method</th>
                        <th>Status Code</th>
                        <th>Response Time</th>
                        <th>Time Requested</th>
                    </tr>
                </thead>
                <tbody ng-repeat="r in getResult.data">
                    
                    
                        <tr>
                            <td>{{r.URL}}</td>
                            <td>{{r.HttpMethod}}</td>
                            <td>{{r.StatusCode}}</td>
                            <td>{{r.ResponseTime}} seconds</td>
                            <td>{{r.TimeRequest}}</td>
                        </tr>
                    
                </tbody>
            </table>
        </div>


    </div>
</div>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>